/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type='number'] {
  -moz-appearance: textfield;
}

::placeholder {
  color: white;
}

input[type='radio'] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

body {
  background-color: white;
  text-align: center;
  font-family: 'Lato';
  font-weight: 900;
}

/* Modal Stuff */

.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #3672d7;
 
  float: right;
  margin: auto;
  /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  
  /* Could be more or less, depending on screen size */
  height: 45rem;
}

/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* End Modal Stuff */

hr {
  background-color: #96bdff;
  border: 0;
  opacity: 0.2;
  height: 2px;
  margin-top: 1.4em;
}

button {
  margin-top: 4em;
  background-color: #ff3a3a;
  border: 1px solid #ff7373;
  color: white;
  font-family: 'Lato';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  padding: 0.5em 0em;
  width: 12rem;
  border-radius: 0.3rem;
  outline: none;
}

.active button {
  border-bottom: 1px solid #ccc;
  border-radius: 0.3rem 0.3rem 0 0;
}

.donate form {
  display: none;
  width: 12rem;
  -webkit-box-shadow: 0px 0px 10px 0px #2e5eae;
  -moz-box-shadow: 0px 0px 10px 0px #2e5eae;
  box-shadow: 0px 0px 10px 0px #2e5eae;
  padding-top: 50px;
  border-radius: 0.3rem;
  margin: 0 auto;
  margin-top: -50px;
}

.donate input {
  -webkit-appearance: none;
  display: none;
  position: absolute;
}

.donate label {
  display: block;
  background-color: #f2f2f2;
  color: #356bc6;
  padding: 0.5em 0;
  width: 12rem;
  font-size: 1.4rem;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  transition: all 0.05s ease;
}

.donate label:hover, .donate label:focus {
  background-color: #ffffff;
  color: #2dbb55;
  -ms-transform: scale(1.02, 1.02);
  /* IE 9 */
  -webkit-transform: scale(1.02, 1.02);
  /* Safari */
  transform: scale(1.02, 1.02);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.donate label:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
}

/*
  Donation Amount Page
*/

#money {
  font-family: 'Lato';
  width: 400px;
  margin: 0 auto;
  padding-top: 7em;
}

#money h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#money .custom {
  width: 100%;
  margin-bottom: 0em;
  position: relative;
}

#money .custom label {
  text-align: left;
  display: block;
  color: #96bdff;
  font-weight: 700;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.6em 0 0.3em 0.2em;
  position: absolute;
  top: -1.25em;
  left: 0.5em;
}

#money .input-group-2 label {
  text-align: center;
  display: block;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.6em 0 0.3em 0.2em;
}

#money .input-group-2 {
  width: 48.33114%;
  margin-right: 1.33772%;
  margin-bottom: 1.2em;
  float: left;
}

#money .input-group-2:nth-child(2n) {
  float: right;
  margin-right: 0;
}

#money .donatationFrequency input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#money .donatationFrequency label {
  display: inline-block;
  border: 2px solid #444;
  border-radius: 4px;
  font-family: 'Lato';
  background-color: #f2f2f2;
  color: #356bc6;
  padding: 0.5em 0;
  width: 11rem;
  font-size: 1.6rem;
  margin: 2px;
  cursor: pointer;
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  -ms-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

#money .donatationFrequency input[id='once']+label:hover {
  background-color: lightgray;
  color: whitesmoke
}

#money .donatationFrequency input[id='monthly']+label:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral
}

#money .donatationFrequency input[id='monthly']:checked+label {
  background-color: #FFFD82;
  color: #e2264d;
  border-color: gold;
}

#money .donatationFrequency input[id='monthly']:checked+label>span {
  
}



#money #heart {
  z-index: 999;
  font-size: 1.3rem;
}

/*Animations*/

@-webkit-keyframes sparkles {
  0%, 20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    box-shadow: 0.32476rem -2.4375rem 0 0rem #ff8080, -0.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8, 0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -0.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem 0.22578rem 0 0rem #a480ff, -1.93852rem 0.77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
  }
}
@keyframes sparkles {
  0%, 20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    box-shadow: 0.32476rem -2.4375rem 0 0rem #ff8080, -0.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8, 0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -0.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem 0.22578rem 0 0rem #a480ff, -1.93852rem 0.77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
  }
}




/*
body {
  background: linear-gradient(135deg, #121721 0%, #000000 100%) fixed;
  color: #FFF;
  font: 300 16px/1.5 "Open Sans", sans-serif;
}
*/

#money .donatationFrequency input[id='once']:checked+label {
  background-color: gray;
  color: white;
  border-color: black;
}

#money .radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#money .radio-toolbar label {
  display: inline-block;
  border: 2px solid #444;
  border-radius: 4px;
  font-family: 'Lato';
  background-color: #f2f2f2;
  color: #356bc6;
  padding: 0.5em 0;
  width: 7rem;
  font-size: 1.6rem;
  margin: 2px;
  cursor: pointer;
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  -ms-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

#money .radio-toolbar label:hover {
  background-color: #dfd;
  color: #6a8fce;
}

#money .radio-toolbar input[type="radio"]:checked+label {
  background-color: #4c4;
  color: white;
  border-color: green;
}

#money input[type="number"] {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 2.8em;
  box-sizing: border-box;
  padding-left: 2em;
  height: 1.9em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#money input[type="number"]+label {
  text-align: left;
  display: block;
  color: #96bdff;
  font-weight: 700;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.6em 0 0.3em 0.2em;
  position: absolute;
  top: -1.25em;
  left: 0.5em;
}

#money button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  margin-top: 1.2em;
  transition: all 0.3s ease;
}

#money button:hover, #money button:focus {
  -ms-transform: scale(1.04, 1.04);
  /* IE 9 */
  -webkit-transform: scale(1.04, 1.04);
  /* Safari */
  transform: scale(1.04, 1.04);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#money p {
  text-align: left;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

#money .back {
  float: left;
  position: relative;
  text-indent: -999em;
  background-color: transparent;
  border: 3px solid #2e64c0;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

#money .back span {
  position: absolute;
  display: block;
  background-color: #2e64c0;
  width: 60%;
  top: 50%;
  margin-top: -1.5px;
  left: 20%;
  height: 3px;
  border-radius: 3px;
}

#money .back span:nth-child(2) {
  width: 40%;
  top: 64%;
  left: 17%;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}

#money .back span:nth-child(3) {
  width: 40%;
  top: 36%;
  left: 17%;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

#money .warn {
  display: none;
}

#money .next {
  height: 67px;
}

/*
  Payment Options Page
*/

#paymentoptions {
  width: 400px;
  margin: 0 auto;
  display: none;
  padding-top: 7em;
}

#paymentoptions h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#paymentoptions .amount {
  font-size: 2em;
}

#paymentoptions .back {
  float: left;
  position: relative;
  text-indent: -999em;
  background-color: transparent;
  border: 3px solid #2e64c0;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

#paymentoptions .back span {
  position: absolute;
  display: block;
  background-color: #2e64c0;
  width: 60%;
  top: 50%;
  margin-top: -1.5px;
  left: 20%;
  height: 3px;
  border-radius: 3px;
}

#paymentoptions .back span:nth-child(2) {
  width: 40%;
  top: 64%;
  left: 17%;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}

#paymentoptions .back span:nth-child(3) {
  width: 40%;
  top: 36%;
  left: 17%;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

#paymentoptions button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  margin-top: 1.2em;
  transition: all 0.3s ease;
}

#paymentoptions input[type="checkbox"] {
  position: absolute;
  height: 55px;
  width: 25px;
  margin: 0px 0px 0px 14px;
}

#paymentoptions label {
  display: inline-block;
  border: 2px solid #444;
  border-radius: 4px;
  font-family: 'Lato';
  background-color: #f2f2f2;
  color: #356bc6;
  padding: 0.5em 3px;
  width: 17rem;
  font-size: 1.3rem;
  margin: 2px;
  cursor: pointer;
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  -ms-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

#paymentoptions label:hover {
  background-color: #dfd;
  color: #6a8fce;
}

#paymentoptions input[type="checkbox"]:checked+label {
  background-color: #4c4;
  color: white;
  border-color: green;
}

#paymentoptions #processingfee {
  color: white;
  font-weight: 600;
  font-size: 16;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/*
  Custom Donation Page
*/

#custom {
  width: 400px;
  margin: 0 auto;
  display: none;
  padding-top: 7em;
}

#custom h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#custom .input-group-1 {
  width: 100%;
  margin-bottom: 0em;
  position: relative;
}

#custom label {
  text-align: left;
  display: block;
  color: #96bdff;
  font-weight: 700;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.6em 0 0.3em 0.2em;
  position: absolute;
  top: -1.25em;
  left: 0.5em;
}

#custom input[type="text"] {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 2.8em;
  box-sizing: border-box;
  padding-left: 2em;
  height: 1.9em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#custom button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  margin-top: 1.2em;
  transition: all 0.2s ease;
}

#custom button:hover, #custom button:focus {
  -ms-transform: scale(1.04, 1.04);
  /* IE 9 */
  -webkit-transform: scale(1.04, 1.04);
  /* Safari */
  transform: scale(1.04, 1.04);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#custom .back {
  float: left;
  position: relative;
  text-indent: -999em;
  background-color: transparent;
  border: 3px solid #2e64c0;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

#custom .back span {
  position: absolute;
  display: block;
  background-color: #2e64c0;
  width: 60%;
  top: 50%;
  margin-top: -1.5px;
  left: 20%;
  height: 3px;
  border-radius: 3px;
}

#custom .back span:nth-child(2) {
  width: 40%;
  top: 64%;
  left: 17%;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}

#custom .back span:nth-child(3) {
  width: 40%;
  top: 36%;
  left: 17%;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

#custom .warn {
  display: none;
}

#custom .next {
  float: right;
}

#custom .radio-toolbar {
  margin: 10px;
}

/*
  Donor Information Page
*/

#details {
  width: 400px;
  padding-top: 7em;
  text-align: left;
  display: none;
  text-align: center;
  margin: 0;
}

#details .back {
  float: left;
  position: relative;
  text-indent: -999em;
  background-color: transparent;
  border: 3px solid #2e64c0;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

#details .back span {
  position: absolute;
  display: block;
  background-color: #2e64c0;
  width: 60%;
  top: 50%;
  margin-top: -1.5px;
  left: 20%;
  height: 3px;
  border-radius: 3px;
}

#details .back span:nth-child(2) {
  width: 40%;
  top: 64%;
  left: 17%;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}

#details .back span:nth-child(3) {
  width: 40%;
  top: 36%;
  left: 17%;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

#details .next {
  float: right;
}

#details h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#details .input-group-1 {
  width: 100%;
  margin-bottom: 0em;
}

#details .input-group-2 {
  width: 48.33114%;
  margin-right: 1.33772%;
  margin-bottom: 1.2em;
  float: left;
}

#details .input-group-2:nth-child(2n) {
  float: right;
  margin-right: 0;
}

#details .input-group-3 {
  width: 37.952%;
  margin-right: 3.33772%;
  margin-bottom: 1.2em;
  float: left;
}

#details .input-group-3:nth-child(8n) {
  width: 17%;
  float: right;
  margin-right: 0;
}

#details .contact-info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#details label {
  text-align: left;
  display: block;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.6em 0 0.3em 0.2em;
}

#details input {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  padding-left: 0.75em;
  height: 2.2em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#details select {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  padding-left: 0.25em;
  height: 2.2em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#details button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  margin-top: 1.2em;
  transition: all 0.2s ease;
}

#details button:hover, #details button:focus {
  -ms-transform: scale(1.04, 1.04);
  /* IE 9 */
  -webkit-transform: scale(1.04, 1.04);
  /* Safari */
  transform: scale(1.04, 1.04);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/*
Card Information Page
*/

#card {
  width: 400px;
  padding-top: 7em;
  text-align: left;
  display: none;
  text-align: center;
  margin: 0;
}

#card hr {
  margin-top: 0.2em;
}

#card .back {
  float: left;
  position: relative;
  text-indent: -999em;
  background-color: transparent;
  border: 3px solid #2e64c0;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

#card .back span {
  position: absolute;
  display: block;
  background-color: #2e64c0;
  width: 60%;
  top: 50%;
  margin-top: -1.5px;
  left: 20%;
  height: 3px;
  border-radius: 3px;
}

#card .back span:nth-child(2) {
  width: 40%;
  top: 64%;
  left: 17%;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}

#card .back span:nth-child(3) {
  width: 40%;
  top: 36%;
  left: 17%;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

#card .next {
  float: right;
}

#card h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#card .input-group-1 {
  width: 100%;
  margin-bottom: 0em;
}

#card .input-group-2 {
  width: 48.33114%;
  margin-right: 1.33772%;
  margin-bottom: 1.2em;
  float: left;
}

#card .input-group-2:nth-child(2n) {
  float: right;
  margin-right: 0;
}

#card .input-group-3 {
  width: 37.952%;
  margin-right: 3.33772%;
  margin-bottom: 1.2em;
  float: left;
}

#card .input-group-3:nth-child(5n) {
  width: 17%;
}

#card .input-group-3:nth-child(3n) {
  float: right;
  margin-right: 0;
}

#card .contact-info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#card label {
  text-align: left;
  display: block;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.6em 0 0.3em 0.2em;
}

#card input {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  padding-left: 0.75em;
  height: 2.2em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#card button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  margin-top: 1.2em;
  transition: all 0.2s ease;
}

#card button:hover, #card button:focus {
  -ms-transform: scale(1.04, 1.04);
  /* IE 9 */
  -webkit-transform: scale(1.04, 1.04);
  /* Safari */
  transform: scale(1.04, 1.04);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/*
Review Page
*/

#check {
  width: 400px;
  padding-top: 7em;
  text-align: center;
  display: none;
}

#check button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  transition: all 0.2s ease;
  display: block;
  margin: 1.5em auto 1em;
  text-shadow: 2px 2px #1f9a42;
}

#check button:hover, #check button:focus {
  -ms-transform: scale(1.04, 1.04);
  /* IE 9 */
  -webkit-transform: scale(1.04, 1.04);
  /* Safari */
  transform: scale(1.04, 1.04);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#check p {
  font-weight: 300;
  letter-spacing: 0.03em;
  padding-top: 1em;
  color: white;
  margin: 0;
  font-size: 1.3em;
}

#check h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#check span {
  display: block;
  margin: 0, 0.15em;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 2.3em;
  letter-spacing: 0.1em;
  padding: 0.2em 1em 0.3em;
  text-shadow: 2px 2px #255bb5;
}

#check .back {
  background-color: red;
  border-color: red;
  text-shadow: 2px 2px red;
}

/*
  Confirmation Page
*/

#confirm {
  display: none;
  width: 400px;
}

#confirm.animated {
  display: block;
}

#confirm h2 {
  color: white;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#confirm p {
  color: white;
  line-height: 1.6;
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 2em;
}

#confirm span {
  color: white;
  background-color: #2dbb55;
  padding: 0.25em 0.45em;
  margin: 0, 0.15em;
  font-weight: 700;
  text-shadow: 2px 2px #1f9a42;
  font-size: 1em;
  border-radius: 0.2em;
  width: 50%;
}

#confirm input {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  padding-left: 0.75em;
  height: 2.2em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#confirm .input-group-1 {
  width: 100%;
  margin-bottom: 0em;
  position: relative;
}

#confirm label {
  text-align: left;
  display: block;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.6em 0 0.3em 0.2em;
}

#confirm button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  transition: all 0.2s ease;
  display: block;
  margin: 1.5em auto 1em;
  text-shadow: 2px 2px #1f9a42;
}

#confirm .next {
  float: center;
}

/*
Tribute Page
*/

#tribute {
  width: 400px;
  padding-top: 7em;
  text-align: left;
  display: none;
  text-align: center;
  margin: 0;
}

#tribute .back {
  float: left;
  position: relative;
  text-indent: -999em;
  background-color: transparent;
  border: 3px solid #2e64c0;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

#tribute .back span {
  position: absolute;
  display: block;
  background-color: #2e64c0;
  width: 60%;
  top: 50%;
  margin-top: -1.5px;
  left: 20%;
  height: 3px;
  border-radius: 3px;
}

#tribute .back span:nth-child(2) {
  width: 40%;
  top: 64%;
  left: 17%;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}

#tribute .back span:nth-child(3) {
  width: 40%;
  top: 36%;
  left: 17%;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

#tribute .next {
  float: right;
}

#tribute button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  margin-top: 1.2em;
  transition: all 0.2s ease;
}

#tribute button:hover, #details button:focus {
  -ms-transform: scale(1.04, 1.04);
  /* IE 9 */
  -webkit-transform: scale(1.04, 1.04);
  /* Safari */
  transform: scale(1.04, 1.04);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#tribute input {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  padding-left: 0.75em;
  height: 2.2em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#tribute input[type="radio"] {
  text-align: center;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: .5em;
  box-sizing: border-box;
  padding-left: 0.75em;
  height: 2.2em;
  width: 10%;
  border-radius: 3px;
  outline: none;
}

#tribute input[type="checkbox"] {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: .5em;
  box-sizing: border-box;
  padding-left: 0.75em;
  height: 2.2em;
  width: 10%;
  border-radius: 3px;
  outline: none;
}

#tribute textarea {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  padding-left: 0.75em;
  height: 5em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#tribute h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#tribute .input-group-1 {
  width: 100%;
  margin-bottom: 0em;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
}

#tribute .input-group-2 {
  width: 48.33114%;
  margin-right: 1.33772%;
  margin-bottom: 1.2em;
  float: left;
}

#tribute .input-group-2:nth-child(2n) {
  float: right;
  margin-right: 0;
}

#tribute .input-group-3 {
  width: 37.952%;
  margin-right: 3.33772%;
  margin-bottom: 1.2em;
  float: left;
}

#tribute .input-group-3:nth-child(8n) {
  width: 17%;
  float: right;
  margin-right: 0;
}

#tribute .contact-info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#tribute label {
  text-align: left;
  display: block;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.6em 0 0.3em 0.2em;
}

#tribute label[for*="mem"] {
  text-align: center
}

#tribute label[for*="hon"] {
  text-align: center
}

/*
Share Tribute Page
*/

#shareTribute {
  width: 400px;
  padding-top: 7em;
  text-align: left;
  display: none;
  text-align: center;
  margin: 0;
}

#shareTribute h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  text-shadow: black;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#shareTribute .back {
  background-color: red;
  border-color: red;
  text-shadow: 2px 2px red;
}

#shareTribute .email {
  float: center;
  background-color: #2dbb55;
  border-color: #2dbb55;
  position: relative;
  overflow: hidden;
}

#shareTribute .email::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

#shareTribute .email:not(:hover)::after {
  animation: sheen 2s forwards;
  animation-iteration-count: infinite;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

#shareTribute .noEmail {
  float: center;
  background-color: #9c998e;
  border-color: #85837b;
}

#shareTribute button {
  font-size: 1.2em;
  margin-top: 1.2em;
  transition: all 0.2s ease;
}

#shareTribute button:hover, #details button:focus {
  -ms-transform: scale(1.04, 1.04);
  /* IE 9 */
  -webkit-transform: scale(1.04, 1.04);
  /* Safari */
  transform: scale(1.04, 1.04);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* 
Email Tribute
*/

#emailTribute {
  padding-top: 7em;
  text-align: left;
  display: none;
  text-align: center;
  margin: 0;
}

#emailTribute .back {
  float: left;
  position: relative;
  text-indent: -999em;
  background-color: transparent;
  border: 3px solid #2e64c0;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

#emailTribute .back span {
  position: absolute;
  display: block;
  background-color: #2e64c0;
  width: 60%;
  top: 50%;
  margin-top: -1.5px;
  left: 20%;
  height: 3px;
  border-radius: 3px;
}

#emailTribute .back span:nth-child(2) {
  width: 40%;
  top: 64%;
  left: 17%;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}

#emailTribute .back span:nth-child(3) {
  width: 40%;
  top: 36%;
  left: 17%;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

#emailTribute .next {
  float: right;
}

#emailTribute button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  margin-top: 1.2em;
  transition: all 0.2s ease;
}

#emailTribute button:hover, #details button:focus {
  -ms-transform: scale(1.04, 1.04);
  /* IE 9 */
  -webkit-transform: scale(1.04, 1.04);
  /* Safari */
  transform: scale(1.04, 1.04);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#emailTribute input {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  padding-left: 0.75em;
  height: 2.2em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#emailTribute h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#emailTribute .input-group-1 {
  width: 100%;
  margin-bottom: 0em;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
}

#emailTribute .contact-info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#emailTribute label {
  text-align: left;
  display: block;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1.6em 0 0.3em 0.2em;
}

/*
  Comments Page
*/

#comment {
  width: 400px;
  padding-top: 7em;
  text-align: left;
  display: none;
  text-align: center;
  margin: 0;
}

#comment .back {
  float: left;
  position: relative;
  text-indent: -999em;
  background-color: transparent;
  border: 3px solid #2e64c0;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

#comment .back span {
  position: absolute;
  display: block;
  background-color: #2e64c0;
  width: 60%;
  top: 50%;
  margin-top: -1.5px;
  left: 20%;
  height: 3px;
  border-radius: 3px;
}

#comment .back span:nth-child(2) {
  width: 40%;
  top: 64%;
  left: 17%;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}

#comment .back span:nth-child(3) {
  width: 40%;
  top: 36%;
  left: 17%;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

#comment .next {
  float: right;
}

#comment button {
  background-color: #2dbb55;
  border-color: #2dbb55;
  font-size: 1.2em;
  margin-top: 1.2em;
  transition: all 0.2s ease;
}

#comment button:hover, #details button:focus {
  -ms-transform: scale(1.04, 1.04);
  /* IE 9 */
  -webkit-transform: scale(1.04, 1.04);
  /* Safari */
  transform: scale(1.04, 1.04);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#comment textarea {
  text-align: left;
  font-family: 'Lato';
  background-color: rgba(26, 68, 139, 0.3);
  font-weight: 300;
  border: 0px solid rgba(132, 178, 255, 0.67);
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  padding-left: 0.75em;
  height: 15em;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

#comment h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: white;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-bottom: 0.75em;
}

#comment .input-group-1 {
  width: 100%;
  margin-bottom: 0em;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
}

#comment .contact-info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.processing {
  display: none;
}

.processing .mask {
  position: absolute;
  width: 130px;
  height: 100px;
  background-color: #3672d7;
  top: -3em;
  z-index: 999;
}

.processing .check {
  position: relative;
  margin: 150px auto 70px;
  width: 110px;
  height: 1px;
}

.processing .check span {
  display: block;
  position: absolute;
  height: 0.5em;
  width: 5em;
  border-radius: 3px;
  background-color: #34d461;
}

.processing .check span:first-child {
  left: 2em;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

.processing .check span:last-child {
  width: 3em;
  top: 0.9em;
  left: 0.3em;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}

.processing .outer {
  position: relative;
  background-color: #2e64c0;
  height: 0.5em;
  width: 14em;
  margin: 1em auto;
  border-radius: 3px;
}

.processing .progress {
  position: absolute;
  background-color: #528cef;
  height: 0.5em;
  width: 0em;
  top: 0em;
  left: 0;
  margin: 0;
  border-radius: 3px;
  z-index: 999;
  overflow: hidden;
}

.processing span {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #96bdff;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}